:root {
    --color-primary-light: #f1e3d5;
    --color-secundary-light: #f9f9f9;
    --color-primary-dark: #25352d;
    --color-secundary-dark: #2e2e2e;
    --color-white: #FFFFFF;
    --color-brown: #95471d;
    --color-brown-light: #d8692e;
    --color-green:#a3d9a5;
    --color-green-secundary:#689b6a;
    --color-green-dark:#5ebb62;
}
